.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 25px;
  min-height: 100vh;
}



.activeStep {
  font-weight: bold;
}


.song-row {
  display: flex;
  color: black;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.song-card {
  margin: 5px;
  padding: 0px;
}


.song-row > Button {
  margin: 5px;
}


.song-row > .form-control {
  width: 100px !important;
  margin: 5px;
}

.note {
  border: solid thin black;
  width: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}

.note.active {
  border: solid thick red;
}

.note.lowest {
  background: lightcoral;
}

.note.highest {
  background-color: greenyellow;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
