.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 25px;
  min-height: 100vh;
}

.meditationStep {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.activeStep {
  font-weight: bold;
}


.song-row {
  display: flex;
  color: black;
  /* width: 75vw; */

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.song-row > Button {
  margin: 5px;
}

.song-card {
  margin: 5px;
  padding: 0px;
}
